---
import PostPreview from "../components/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { posts } from "../data/posts";
import { features } from "../data/features";
import { notFeatures } from "../data/not-features";
import { downloads } from "../data/downloads";
---

<PageLayout meta={{ title: "Home" }}>
	<section class="group">
		<h1 class="title mb-6">Opening Monero to the world</h1>
		<p class="mb-4">
			Haveno-reto is the flagship instance of Haveno, the non-custodial, decentralized exchange
			platform for crypto and fiat currencies built on Tor and Monero.
		</p>
		<p>
			It doesn't get more <span class="transition duration-1000 group-hover:text-accent"
				>private</span
			> than that.
		</p>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">What Haveno-reto is</h2>
		<dl class="space-y-4">
			{
				features.map(({ title }) => (
					<div class="flex gap-2">
						<dt>
							<div class="flex items-center justify-between gap-2.5">
								<span>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="20"
										height="20"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="lucide lucide-circle-check"
									>
										<>
											<circle cx="12" cy="12" r="10" />
											<path d="m9 12 2 2 4-4" />
										</>
									</svg>
								</span>
								<p class="reto-text">{title}</p>
							</div>
						</dt>
					</div>
				))
			}
		</dl>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">What Haveno-reto isn't</h2>
		<dl class="space-y-4">
			{
				notFeatures.map(({ title }) => (
					<div class="flex gap-2">
						<dt>
							<div class="flex items-center justify-between gap-2.5">
								<span>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="20"
										height="20"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="lucide lucide-circle-x"
									>
										<>
											<circle cx="12" cy="12" r="10" />
											<path d="m15 9-6 6" />
											<path d="m9 9 6 6" />
										</>
									</svg>
								</span>
								<p class="reto-text">{title}</p>
							</div>
						</dt>
					</div>
				))
			}
		</dl>
	</section>
	<section id="downloads" class="mt-16">
		<div class="mb-4 flex items-baseline gap-2">
			<h2 class="title text-xl">Downloads</h2><p>- Current version v1.0.8</p>
		</div>
		<dl class="space-y-4">
			{
				downloads.map(({ title, link }) => (
					<div class="flex gap-2">
						<dt>
							<div class="flex items-center justify-between gap-2.5">
								<span>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="20"
										height="20"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="lucide lucide-hard-drive-download"
									>
										<>
											<path d="M12 2v8" />
											<path d="m16 6-4 4-4-4" />
											<rect width="20" height="8" x="2" y="14" rx="2" />
											<path d="M6 18h.01" />
											<path d="M10 18h.01" />
										</>
									</svg>
								</span>
								<a class="reto-link" data-astro-prefetch href={link}>
									{title}
								</a>
							</div>
						</dt>
					</div>
				))
			}
		</dl>
	</section>
	<section id="posts" aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts by nihilist</h2>
		<ul class="space-y-4">
			{
				posts.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Special thanks to</h2>
		<dl class="space-y-4">
			<div class="flex gap-2">
				<dt>
					<div class="flex items-center justify-between gap-2.5">
						<span>
							<svg
								width="20"
								height="20"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"></path>
							</svg>
						</span>
						<div class="flex flex-col md:flex-row md:gap-2">
							<p class="reto-text">
								woodser - <span class="font-bold">Haveno Developer</span>
							</p>
							<span class="hidden md:inline">-</span>

							<a
								target="_blank"
								class="reto-link"
								data-astro-prefetch
								href={"https://github.com/woodser"}>GitHub</a
							>
						</div>
					</div>
				</dt>
			</div>
			<div class="flex gap-2">
				<dt>
					<div class="flex items-center justify-between gap-2.5">
						<span>
							<svg
								width="20"
								height="20"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"></path>
							</svg>
						</span>
						<div class="flex flex-col md:flex-row md:gap-2">
							<p class="reto-text">
								bacqueyrisses - <span class="font-bold">Front-End Developer</span>
							</p>
							<span class="hidden md:inline">-</span>

							<a
								target="_blank"
								class="reto-link"
								data-astro-prefetch
								href={"https://github.com/bacqueyrisses"}>GitHub</a
							>
						</div>
					</div>
				</dt>
			</div>
			<div class="flex gap-2">
				<dt>
					<div class="flex items-center justify-between gap-2.5">
						<span>
							<svg
								width="20"
								height="20"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"></path>
							</svg>
						</span>
						<p class="reto-text">
							boldsuck & shortwavesurfer2009 - <span class="font-bold">Tor PoW & Seednodes</span>
						</p>
					</div>
				</dt>
			</div>
			<div class="flex gap-2">
				<dt>
					<div class="flex items-center justify-between gap-2.5">
						<span>
							<svg
								width="20"
								height="20"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"></path>
							</svg>
						</span>
						<div class="flex flex-col md:flex-row md:gap-2">
							<p class="reto-text">
								anhdres & rottenwheel - <span class="font-bold">Haveno-reto Logo</span>
							</p>
							<span class="hidden md:inline">-</span>
							<div class="flex gap-2">
								<a
									target="_blank"
									class="reto-link"
									data-astro-prefetch
									href={"https://monero.garden/"}>monero.garden</a
								>
								<a
									target="_blank"
									class="reto-link"
									data-astro-prefetch
									href={"https://www.revuo-xmr.com/"}>Revuo Monero</a
								>
							</div>
						</div>
					</div>
				</dt>
			</div>
			<div class="flex gap-2">
				<dt>
					<div class="flex items-center justify-between gap-2.5">
						<span>
							<svg
								width="20"
								height="20"
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"></path>
							</svg>
						</span>
						<div class="flex flex-col md:flex-row md:gap-2">
							<p class="reto-text">
								nihilist - <span class="font-bold">Tutorials</span>
							</p>
							<span class="hidden md:inline">-</span>

							<a
								target="_blank"
								class="reto-link"
								data-astro-prefetch
								href={"https://blog.nihilism.network/"}>Blog</a
							>
						</div>
					</div>
				</dt>
			</div>
		</dl>
	</section>
</PageLayout>
